<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Accueil
    <br>
    <a href="{% url 'tcs' %}">Accueil</a>
    <!-- <button class="btn btn-primray">
        <a href="{% url 'tcs' %}"></a>
        Client Simple
     </button> -->
    <br>
    <!-- <button class="btn btn-danger">
        <a href="{% url 'tcSenior' %}"></a>

        Client Senior</button> -->
    <a href="{% url 'tcSenior' %}">add senior</a>
    <br>
    <!-- <button class="btn btn-light">
        <a href="{% url 'tcp' %}"></a>
        Client Pregnant</button> -->

    <a href="{% url 'tcp' %}">add pre</a>
    <br>
    <button>Connexion</button>


</body>

</html>