<!Doctype html>
<html lang='fr'>

<head>
    <meta charset='utf_8'>
    <title> Gestion de file d'attente </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <div class=" container row">
        <div class="col-md-6">
            photoDesign
        </div>

        <div class="col-md-6 card">

            <form>
                <div class="col md-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login">
                    <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="col md-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <!-- <div class="col md-3">
                <label for="password" class="form-label">Profile</label>
                <select name="profile" class="form-select form-select-md md-3" >
                <option>Selectionner un profile</option>
                <option value='AgentComptoire'>AgentComptoire</option>
                <option value='Superviseur'>Superviseur</option>
                </select>
                
              </div> -->

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

    </div>
    </div>


</body>

</html>